# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases and system logs
*.db
*.sqlite
*.sqlite3
test.log

# Environments
venv/
.venv/
env/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
